<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Doglist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
</head>

<body style="background-color: #e6ffff; margin: 25px">

	<h1 style="text-align:center;">KIAN KOIRAVALJAKKO</h1>

	<table>
		<tr>
			<th>NIMI</th>
			<th>SUKUPUOLI</th>
			<th>TIEDOT</th>
			<th>MIKROSIRU</th>
			<th>KENNELI</th>
		</tr>
		
		<tr th:each = "dog : ${dogs}" style="padding: 5px;">
			<td th:text="${dog.name}" style="padding: 5px;"></td>
			<td th:text="${dog.gender}" style="padding: 5px;"></td>
			<td th:text="${dog.information}" style="padding: 5px;"></td>
			<td th:text="${dog.microship}" style="padding: 5px;"></td>
			<td th:text="${dog.kennel.name}" style="padding-left: 10px; padding-right:10px;"></td>

			 <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${dog.id})}" style="text-decoration: none; color:blue; border-radius: 5px; margin: 3px;">Muokkaa</a></td>
			 <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${dog.id})}" style="text-decoration: none; color:red; border-radius: 5px; margin: 3px;">Poista</a></td>
		</tr>
	</table>
	<div style="clear: both; display: block; height: 10px;" ></div>
	<a href="/add" style="text-decoration: none; color:blue; border-radius: 5px; margin: 3px;">Lisää uusi koira</a>
	<div style="clear: both; display: block; height: 10px;" ></div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Kirjaudu ulos"/>
	</form>

</body>
</html>