<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Spring Security</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body style="background-color: #e6ffff; margin: 25px">
		<div th:if="${param.error}">
			<b>Virheellinen käyttäjätunnus ja salasana.</b>
			<div style="clear: both; display: block; height: 10px;" ></div>
		</div>
		<div th:if="${param.logout}">
			<b>Olet kirjautunut ulos.</b>
			<div style="clear: both; display: block; height: 10px;" ></div>
		</div>
		<form th:action="@{/login}" method="post">
			<div><label> Käyttäjätunnus: <input type="text" name="username"/> </label></div>
			<div style="clear: both; display: block; height: 10px;" ></div>
			<div><label> Salasana: <input type="password" name="password"/> </label></div>
			<div style="clear: both; display: block; height: 10px;" ></div>
			<div><input type="submit" value="Kirjaudu sisään"/></div>
		</form>
	</body>
</html>